<div>
  <h2>LOGIN / SIGN UP</h2>

  <%= form_for(@user, url: control_path(@user), :html => {:class => ''}) do |f| %>

    <div class="field">
      <%= f.label :email%><br />
      <%= f.email_field :email, :class => '', :placeholder => 'email address', autofocus:true %>
    </div>

    <div class="field">
      <%= f.label :password%><br />
      <%= f.password_field :password, autocomplete: "off", :class => '', :placeholder => 'password' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => '' %>
    </div>
  <% end %>
</div>
